<table class="table table-hover">
    <tr>

        <th><?= $this->Paginator->sort('name') ?></th>
        <th>BW</th>
        <th>G</th>
        <th>N</th>
        <th>Price</th>

    </tr>
    <?php foreach ($products as $product): ?>

        <tr>

            <td><?= h($product->name) ?> </td>
            <td><input type="checkbox" data-supplier-id="<?= $supplier_id ?>" data-store-id="1" data-product-id="<?= $product->id ?>" name="vehicle" value="Bike" onchange="doalert(this)"></td>
            <td><input type="checkbox" data-supplier-id="<?= $supplier_id ?>" data-store-id="1" data-product-id="<?= $product->id ?>" name="vehicle" value="Bike" onchange="doalert(this)"></td>
            <td><input type="checkbox" data-supplier-id="<?= $supplier_id ?>" data-store-id="1" data-product-id="<?= $product->id ?>" name="vehicle" value="Bike" onchange="doalert(this)"></td>
            <td><?= h($product->name) ?> </td>
        </tr>
    <?php endforeach; ?>
</table>
