<table class="table table-hover">
    <tr>
        <th><?= $this->Paginator->sort('name') ?></th>
        <th>BW</th>
        <th>G</th>
        <th>N</th>
        <th>Price</th>
    </tr>

    <?php foreach ($productsSuppliers as $productsSupplier): ?>
        <tr>
            <td><?= h($productsSupplier->product->name) ?> </td>
            <td><input type="checkbox" data-supplier-id="<?= $supplier_id ?>" data-store-id="1" data-product-id="<?= $productsSupplier->product_id ?>" name="vehicle" value="Bike" onchange="doalert(this)"></td>
            <td><input type="checkbox" data-supplier-id="<?= $supplier_id ?>" data-store-id="1" data-product-id="<?= $productsSupplier->product_id ?>" name="vehicle" value="Bike" onchange="doalert(this)"></td>
            <td><input type="checkbox" data-supplier-id="<?= $supplier_id ?>" data-store-id="1" data-product-id="<?= $productsSupplier->product_id ?>" name="vehicle" value="Bike" onchange="doalert(this)"></td>
            <td><input type="text" value="0"> </td>
        </tr>
    <?php endforeach; ?>
</table>